__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.env
.venv
venv/
.idea/
.vscode/

.DS_Store
Thumbs.db

*.db
*.sqlite
*.sqlite3

node_modules/
.expo/
web-build/
release/
.vite/
.parcel-cache/
.turbo/
.next/
.svelte-kit/
*.tsbuildinfo
*.local

target/
bin/
obj/
*.class
*.exe
*.o

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
